@import url('variables.css');

.answer__radio-btn {
  display: none;
}

.answer__label {
  font-family: 'Inter', sans-serif;
  font-size: 0.64rem;
  font-weight: 500;
  border: 0.8px solid var(--label-color);
  border-radius: 8px;
  padding: 0.5em 1em;
  transition: 0.3s ease-in-out;
  user-select: none;
}

.answer__label--hoverable:hover {
  cursor: pointer;
  background-color: var(--label-color);
  color: #f5f7fb;
}

.answer__label--selected {
  background-color: var(--selected-label-color);
  border: 0.8px solid var(--selected-label-color);
}

.answer__label--correct {
  background-color: var(--correct-label-color);
  border: 0.8px solid var(--correct-label-color);
}

.answer__label--incorrect {
  background-color: var(--incorrect-label-color);
  border: 0.8px solid var(--incorrect-label-color);
  opacity: 50%;
}

.answer__label--unselected,
.answer__label--correct,
.answer__label--incorrect {
  &:hover {
    cursor: default;
    color: #293264;
  }
}
