main {
  padding: 40px 75px 25px 75px;
  overflow: scroll;
  display: grid;
  justify-items: center;
  row-gap: 1.313em;
}

.trivia-wrapper {
  display: grid;
  row-gap: 1.188em;
}

.button--primary {
  padding: 1em 1.375em;
  border-radius: 10px;
}
